@font-face {
    font-family: district;
    src: url(district.woff);
}

@font-face {
    font-family: destroy;
    src: url(destroy.woff);
}

.navbar-default .navbar-brand {
    font-family: destroy;
    font-size: 2em;
}

.foot-notice {
    text-align: center
}

h3 p {
  font-size-adjust: 0.3;
  text-align: right;
}

.pager .disabled {
  outline: none;
}


h3 span {
  font-size-adjust: 0.3;
  float: right;
}

#parent_id {
    display: none;
}

.hide {
    display: none;
}

/* Media queries. */

@media(max-width:767px) {
  .thumbnail img {
    height: 100px;
  }
}

@media(min-width:768px) {
  .thumbnail img {
    height: 125px;
  }
}

@media(min-width:992px) {
  .thumbnail img {
    height: 150px;
  }
}

@media(min-width:1200px) {
  .thumbnail img {
    height: 175px;
  }
}
