@font-face {
    font-family: district;
    src: url(district.woff);
}

@font-face {
    font-family: destroy;
    src: url(destroy.woff);
}

.navbar-default .navbar-brand {
    font-family: destroy;
    font-size: 2em;
}

.foot-notice {
    text-align: center
}
