{% extends 'base.html' %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Welcome to Object Tracker</title>
</head>
{% block body %}
    <h1 id="heading">jQuery Example</h1>
    <p>
        <input type=text size=5 name=a>
        +
        <input type=text size=5 name=b>
        =
        <span id=result>
        ?
        </span>
    </p>
    <p>
        <a href=# id=calculate>
            calculate server side
        </a>
    </p>
    <script type="text/javascript" charset="utf-8" 
        src="https://code.jquery.com/jquery-2.1.1.min.js">
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('a#calculate').bind('click', function() {
                $.getJSON('/_add-numbers', {
                        a: $('input[name="a"]').val(),
                        b: $('input[name="b"]').val()
                    },
                    function(data) {
                        $('#result').text(data.sum);
                    }
                );
            });
        });
    </script>
{% endblock %}
