<div class="sidebar-module">
    <h3>
        About
    </h3>
    <p>
        Look on my works, ye Mighty, and despair!
    </p>
</div>
<div class="sidebar-module">
    <h3>
        Some stuff
    </h3>
    <p>
        Juss truss...
    </p>
</div>
<div class="sidebar-module">
    <h3>
        Some more stuff
    </h3>
    <p>
        kno wot am sayin
    </p>
</div>
<div class="sidebar-module">
    <h3>
       Blogroll 
    </h3>
    <p>
        Here is a list of other shittier blogs...
    </p>
</div>
