{% extends "base.html" %}
{% block body %}
<div class="container">
      {# Form error notifications. #}
        {% if form.errors %}
t            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form[field_name].label }}: {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <form role="form" action="/create" method=post accept-charset="utf-8" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.pics.label }}
                {{ form.pics(multiple="") }}
            </div>
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(size=80, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.subtitle.label }}
                {{ form.subtitle(size=80, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.body.label }}
                {{ form.body(class_="form-control") }}
            </div>
            {{ form.submit(class_="btn btn-default") }}
        </form>
        {% include 'footer.html' %}
    </div>
{% endblock %}
