{% extends "base.html" %}
{% block body %}
  {# Custom CSS. #}
  <link rel="stylesheet" href="../static/css/edit-post.css" type="text/css">
  {# Form error notification. #}
  {% include 'form-errors.html' %}
  <div class="container">
    <form action="/edit/{{ post.id }}" method=post
        enctype="multipart/form-data" accept-charset="utf-8">
      {{ form.hidden_tag() }}
      {% if post.gallery %}
      <div id='picfield' class="row">
        {% for pic_form, gallery_pic in zipped %}
        <div class="pic col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="../static/uploads/{{ '{}/{}/{}'.format(
                post.user_id, post.id, gallery_pic.filename) }}"
                title="{{ gallery_pic.title }}" class="thumbnail"
                onclick="return false">
              <img src="../static/uploads/{{ '{}/{}/thumbnails/{}'.format(
                  post.user_id, post.id, gallery_pic.filename) }}"
                  alt="{{ gallery_pic.filename }}"
                  class="img-responsive img-rounded">
            </a>
          </div> {# end col #}
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {{ pic_form.title.label }}
            {{ pic_form.title }}
            {{ pic_form.delete.label }}
            {{ pic_form.delete }}
            <p>
              <label>Select as cover:</label>
              {% if post.cover.filename == gallery_pic.filename: %}
                <input type='radio' value='{{ gallery_pic.filename }}'
                    name='choice' checked>
                </input>
              {% else: %}
                <input type='radio' value='{{ gallery_pic.filename }}'
                    name='choice'>
                </input>
              {% endif %}
            </p>
          </div> {# end col #}
        </div> {# end col #}
        {% endfor %}
        <ul id='selection'>
        </ul>
      </div> {# end row #}
      {% endif %}
      <div class="row">
          <div class="form-group">
            {{ form.pics.label }}
            {{ form.pics(multiple="") }}
          </div>
          <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class_="form-control", size=40) }}
          </div>
          <div class="form-group">
            {{ form.subtitle.label }}
            {{ form.subtitle(class_="form-control", size=40) }}
          </div>
          <div class="form-group">
            {{ form.body.label }}
            {{ form.body(class_="form-control") }}
          </div>
          {{ form.submit(class_="btn btn-default") }}
      </div> {# end row #}
    </form>
  </div> {# end container #}
  {# Footer import. #}
  {% include 'footer.html' %}
  {# Custom JavaScript import. #}
  <script type="text/javascript" charset="utf-8"
      src="../static/js/pic-select.js"></script>
{% endblock %}
