{% extends "base.html" %}
{% block body %}
  <link rel="stylesheet" href="../static/css/edit-post.css" type="text/css">
  {# Form error notifications. #}
  {% if form.errors %}
    <div class="container">
      {% for field_name, field_errors in form.errors|dictsort
          if field_errors %}
        {% for error in field_errors %}
          <div class="alert alert-danger alert-dismissable"
            role="alert">
            <button type="button" class="close"
                data-dismiss="alert">
              <span class="glyphicon glyphicon-remove"
                  aria-hidden="true">
              </span>
              <span class="sr-only">
                Dismiss
              </span>
            </button>
            {{ form[field_name].label }}: {{ error }}
          </div> {# end alert #}
        {% endfor %}
      {% endfor %}
    </div> {# end container #}
  {% endif %}
    
  <div class="container">
    {% if post.pictures %}
      <div class="row">
        {% for pic in post.pictures %}
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <a href="../static/uploads/{{ '{}/{}/{}'.format(
                post.user_id, post.id, pic.filename) }}"
                title="test" class="thumbnail">
              <img src="../static/uploads/{{ '{}/{}/thumbnails/{}'.format(
                  post.user_id, post.id, pic.filename) }}"
                  alt="{{ pic.filename }}"
                  class="img-responsive img-rounded">
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="row">
      <form action="/edit/{{ post.id }}" method=post
          enctype="multipart/form-data" accept-charset="utf-8">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.pics.label }}
          {{ form.pics(multiple="") }}
        </div>
        <div class="form-group">
          {{ form.title.label }}
          {{ form.title(class_="form-control", size=40) }}
        </div>
        <div class="form-group">
          {{ form.subtitle.label }}
          {{ form.subtitle(class_="form-control", size=40) }}
        </div>
        <div class="form-group">
          {{ form.body.label }}
          {{ form.body(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-default") }}
      </form>
    </div> {# end row #}
  </div> {# end container #}

  {# Footer import. #}
  {% include 'footer.html' %}
  {# Custom JavaScript import. #}
  <script type="text/javascript" charset="utf-8"
      src="../static/js/edit-post.js"></script>
{% endblock %}
