{% extends "base.html" %}
{% block body %}
  {# Custom CSS. #}
  <link rel="stylesheet" href="../static/css/edit-post.css" type="text/css">
  {# Form error notification. #}
  {% include 'form-errors.html' %}
  <div class="container">
    {% if post.pictures %}
      <div class="row">
        {% set l = post.pictures|length() %}
        {% for p in range(0, l) %}
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <a href="../static/uploads/{{ '{}/{}/{}'.format(
                  post.user_id, post.id, post.pictures[p].filename) }}"
                  title="test" class="thumbnail" onclick="return false">
                <img src="../static/uploads/{{ '{}/{}/thumbnails/{}'.format(
                    post.user_id, post.id, post.pictures[p].filename) }}"
                    alt="{{ post.pictures[p].filename }}"
                    class="img-responsive img-rounded">
              </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              {{ form.pictures[p].title }}
              {{ form.pictures[p].delete }}
            </div>
          </div>
        {% endfor %}
      </div> {# end row #}
    {% endif %}
    <div class="row">
      <form action="/edit/{{ post.id }}" method=post
          enctype="multipart/form-data" accept-charset="utf-8">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.pics.label }}
          {{ form.pics(multiple="") }}
        </div>
        <div class="form-group">
          {{ form.title.label }}
          {{ form.title(class_="form-control", size=40) }}
        </div>
        <div class="form-group">
          {{ form.subtitle.label }}
          {{ form.subtitle(class_="form-control", size=40) }}
        </div>
        <div class="form-group">
          {{ form.body.label }}
          {{ form.body(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-default") }}
      </form>
    </div> {# end row #}
  </div> {# end container #}
  {# Footer import. #}
  {% include 'footer.html' %}
  {# Custom JavaScript import. #}
  <script type="text/javascript" charset="utf-8"
      src="../static/js/edit-post.js"></script>
{% endblock %}
