{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9 blog-main">
                {% for post in posts %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">
                            <a href="{{ url_for('viewPost',
                                    post_id=post.Post.id) }}">
                                {{ post.Post.title }}
                            </a>
                        </h2>
                        <h4 class="blog-post-subtitle">
                            {{ post.Post.subtitle }}
                        </h4>
                        {% if post.Post.pictures %}
                            <img src="{{ '/static/uploads/{}/{}/{}'.format(
                                    post.Post.user_id, post.Post.id,
                                    post.Post.pictures[0].filename) }}"
                                class="img-responsive img-rounded"
                                alt="Post cover.">
                        {% endif %}
                        <h6 class="blog-post-meta">
                            published by 
                                <a href="{{ url_for('viewProfile',
                                        user_name=post.User.user_name) }}">
                                    {{ post.User.user_name }}
                                </a> 
                            at {{ post.Post.posted_at }}
                        </h6>
                        <p>
                            {{ post.Post.body }}
                        </p>
                    </div> {# end blog-post #}
                {% endfor %}
            </div> {# end blog-main #}
            <div class="col-xs-3 blog-sidebar">
                {% include 'sidebar.html' %}
            </div>
        </div> {# end row #}
    </div> {# end container #}
    {% include 'footer.html' %}
{% endblock %}
