{% extends 'base.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% for post in posts %}
          <div class="thumbnail">
            <div class="caption">
                <a href="{{ url_for('viewPost',
                    post_id=post.id) }}">
                  <h3>
                    {{ post.title }}
                  </h3>
                </a>
                <span>
                  posted 
                  {{ post.posted_at.strftime(
                      "%a, %b %d, %Y at %I:%M%p") }}
                  by 
                  <a href="{{ url_for('viewProfile',
                      user_name=post.user.user_name) }}">
                    {{ post.user.user_name }}
                  </a> 
                </span>
            </div> {# end caption #}
            {% if post.gallery %}
              <a class="posting" href="{{ url_for('viewPost',
                  post_id=post.id) }}">
                <img src="{{ '/static/uploads/{}/{}/{}'.format(
                    post.user_id, post.id,
                    post.cover.filename) }}"
                    class="img-reponsive"
                    alt="{{ post.cover.title }}">
              </a>
            {% endif %}
          </div> {# end thumbnail #}
        {% endfor %}
      </div> {# end col-xs-9 #}
    </div> {# end row #}
    <div class="row">
      <div class="col-xs-9">
        <nav>
          <ul class="pagination">
            {% if pages != 1 %}
              {% if page != 1 %}
                <li>
                  <a href="/index/{{ page - 1 }}" aria-label="Previous">
                    <span aria-hidden="true">
                      &laquo;
                    </span>
                  </a>
                </li>
              {% endif %}
              {% for i in page_range %}
                {% if i == page %}
                  <li class="active">
                    <a href="" onclick="return false">
                      {{ i }}
                      <span class="sr-only">
                        (current)
                      </span>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a href="/index/{{ i }}">
                      {{ i }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if not end %}
                <li>
                  <a href="/index/{{ page + 1 }}" aria-label="Next">
                    <span aria-hidden="true">
                      &raquo;
                    </span>
                  </a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div> {# end container #}
  {% include 'footer.html' %}
{% endblock %}
