{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-9 blog-main">
                {% for post in posts %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">
                            {{ post.title }}
                        </h2>
                        <h4 class="blog-post-subtitle">
                            {{ post.subtitle }}
                        </h4>
                        <h6 class="blog-post-meta">
                            published by <a href="{{ url_for('viewProfile', user_name=post.user.user_name) }}">{{ post.user.user_name }}</a> on {{ post.date }}
                        </h6>
                        <p>
                            {{ post.body }}
                        </p>
                    </div> {# end blog-post #}
                {% endfor %}
            </div> {# end blog-main #}
            <div class="col-xs-3 blog-sidebar">
                {% include 'sidebar.html' %}
            </div>
        </div> {# end row #}
    </div> {# end container #}
    {% include 'footer.html' %}
{% endblock %}
