{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <form role="form" action="/login" method=post accept-charset="utf-8">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }} 
                {{ form.email(size=80, class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label }} 
                {{ form.password(size=80, class_='form-control') }}
            </div>
            <button type="submit" class="btn btn-default">
                Login
            </button>
        </form>
        <a href="{{ url_for('register') }}">Register</a>
        {% include 'footer.html' %}
    </div> {# end container #}
{% endblock %}
