{% extends 'base.html' %}
{% block body %}
  {% include 'form-errors.html' %}
  <div class="container">
    <form role="form" action="/reset/{{ nonce }}" method=post
        accept-charset="utf-8">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.password.label }} 
        {{ form.password(size=80, class_='form-control') }}
      </div>
      <div class="form-group">
        {{ form.confirm.label }} 
        {{ form.confirm(size=80, class_='form-control') }}
      </div>
      {{ form.submit(class_="btn btn-default") }}
    </form>
  </div> {# end container #}
  {% include 'footer.html' %}
{% endblock %}
