{% extends 'base.html' %}
{% block body %}
{% include 'form-errors.html' %}
<div class="container">
  <div id="reset-info" class="row">
    <div class="col-xs-12">
      <p>
        Password reset is available only for accounts that have been verified 
        with an email address.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <form role="form" action="/reset" method=post accept-charset="utf-8">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label }} 
          {{ form.email(size=80, class_='form-control') }}
        </div>
        {{ form.submit(class_="btn btn-default") }}
      </form>
    </div>
  </div>
</div> {# end container #}
{% include 'footer.html' %}
{% endblock %}
