<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {{ current_user.user_name }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="{{ url_for('viewProfile', user_name=current_user.user_name) }}">
                Profile
            </a>
        </li>
        <li>
            <a href="#">
                Posts
            </a>
        </li>
        <li>
            <a href="#">
                Inbox
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{{ url_for('logout') }}">
                Logout
            </a>
        </li>

    </ul>
</li>
