{% extends 'base.html' %}
{% block body %}
    <h1 id="heading">{{ user.user_name }}</h1>
    {% if verified %}
      <h1>verified</h1>
    {% else %}
      <h1>
        not verified:
        <a href="{{ url_for('verify', user_name=user.user_name) }}">
          click here to confirm your email address
        </a>
      </h1>
    {% endif %}
    <h2 id="heading">Roles:</h2>
    <ul>
        {% for role in user.roles %}
            <li>
                {{ role.name }} - {{ role.description }}
            </li>
        {% endfor %}
    </ul>
    <h2 id="heading">Posts:</h2>
    <ul>
        {% for post in user.posts %}
            <li> 
                <a href="{{ url_for('viewPost', post_id=post.id) }}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <h2 id="heading">comments:</h2>
    <ul>
        {% for comment in user.comments%}
            <li> 
                <a href="{{ url_for('viewPost', post_id=comment.post_id) }}">
                    {{ comment.body}}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% include 'footer.html' %}
{% endblock %}
